/*----START----*/
		.cajon{
			display:block;
			width:100%;
			height:1000px;
			margin-top:25%;

		}
		.marcoFino{
			position: absolute;
		width: 1000px;
		height: 806px;


		}
		.caja{
			position: absolute;
		width: 1000px;
		height: 615px;

		border: 4px solid #000000;
		box-sizing: border-box;
		}
		.band1{
			position: relative;
		width: 100%;
		height: 100%;
		opacity: 0.075;
		background: url(bandera2.gif);
		background-repeat:no-repeat;
		background-size:contain;
		}
		.band2{
			position: relative;
		width: 100%;
		height: 100%;
		opacity: 0.075;
		background: url(bandera2.gif);
		transform: rotate(180deg);
		background-repeat:no-repeat;
		background-size:contain;
		margin-top:-1000px;
		}
		.texto{

		position: absolute;
		width: 1092px;
		height: 584px;

		background: url(TITLE.gif);
		background-repeat:no-repeat;
		background-size:contain;
		}