
body{	
		margin:0px;padding: 25px;
		background-image:url(fondik.jpg);
		background-repeat:no-repeat;
		background-size: cover;

	}
@keyframes slide{
		from{
			 margin-top:-100px;
		}
		to{margin-top:10px}
	}

.menu{	
		border: 5px solid black;	
		margin-top:10px;
		height:55px;
		padding:0px;
		background-image:url(fondo.gif);
		background-repeat:no-repeat;
		background-size: cover;
		border-radius: 40px 40px 40px 40px;
		animation-duration:1s;
		animation-name:slide;

	}
.menuOpcion{
		opacity: 0.5; 
		display:inline-block;
		margin-top:16.5px;
		vertical-align:bottom;
		text-align: center;
		margin-left:5%;
		height:36%;
		width:19%;
		color: white;
		background-color:white;
		border: 0px solid #000000;
		border-radius: 40px 40px 40px 40px;

	}
@keyframes slide2{
		from{
			 margin-top:10px;
			 opacity:100%;
		}
		to{margin-top:40%;
			opacity:0%;}
	}
.flecha{
	opacity:0%;
	display:absolute;
	height:100px;
	width:100px;
	margin-left:45%;
	background-image:url(flecha.png);
	background-size: cover;
			animation-duration:2s;
		animation-name:slide2;
}
