@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body{
    margin:0px;
    display:grid;
    grid-template-columns:200px 820px auto;     grid-template-rows:30px 250px 570px 150px 500px;
    grid-row-gap:0px;                          grid-column-gap:0px;
    background-color:white;
}
.cabecera{
    display:grid;
    grid-column-start: 1;                       grid-column-end:4;
    grid-row:1;                                 grid-template-rows:none;
    grid-template-columns:auto auto 40px auto auto;
    height:100%;
    width:100%;
    border: none solid white;
    background-color:white;
}

@keyframes TextSlideV{
    0%{margin-top:-200px;}
    100%{margin-top: 400px;}
    
}
@keyframes TextSlideH{
    0%{margin-left:-200px;}
    100%{margin-left:165px;}
    
}
.sideMenu{
    grid-column: 1;
    grid-row-start:2; grid-row-end:4;
    background-color:white;
    width:100%;
    height:100%;
    justify-self: center;
    border: none solid black;
}
.sideMenu p{text-align:left;
    color: black;
    font-size:80px;
    font-family: 'Ubuntu', sans-serif;
    transform: rotate(-90deg);
    margin-top: 400px;
    animation-name: TextSlideV;
    animation-duration:5s;
    grid-row:0;
    }
.sideMenu img{
    grid-row:1;
    width:60px;
    height:80px;
    transform: rotate(-90deg);
    margin-left:75px;
}

.frame{
    display:grid;
    grid-column-start: 2; grid-column-end:4;
    grid-row-start:1; grid-row-end:5;
    background-image:url(fondo.jpg);
    background-size: cover;
    width:100%;
    height:100%;
    justify-self: center;
    grid-template-columns: 100px  620px auto;
    grid-template-rows:75px 50px 15px 3px 620px;


}
.frame h1{
    text-align:left;
    color: white;
    font-size:80px;
    font-family: 'Ubuntu', sans-serif;
    margin-top:-10px;
    margin-left:165px;
    animation-name: TextSlideH;
    animation-duration:5s;
    grid-column:1;
    grid-row:1;
    
    
    
}
/*-------------------------------*/
.subMenu{
    display:grid;
    grid-column-start:2;    grid-column-end:3;
    grid-row: 2;
    height:100%;
    width:100%;
    border: none solid white;
    background-color:rgba(255, 255, 255, 0);
    grid-template-columns:auto auto auto auto auto auto auto auto;
    grid-template-rows:1;
}
@keyframes subIconMotion {
    0%{background-position:220px;opacity:0%;}
    100%{background-position:center;opacity:100%;}
    
}
.subIcon1{
    display:grid;
    grid-column:1;
    grid-row:1;
    width:100%;
    height:100%;
    background-image:url(hogar.png);
    background-repeat: no-repeat;
    animation-name:subIconMotion;
    animation-duration:1s;
    background-position: center;
    background-size:50%;
    transition:background-size  0.1s;
}
.subIcon1:hover{
    background-size:50px;
}
.subIcon2{
    display:grid;
    grid-column:2;
    grid-row:1;
    width:100%;
    height:100%;
    background-image:url(circulo-de-color.png);
    background-repeat: no-repeat;
    animation-name:subIconMotion;
    animation-duration:1.5s;
    background-position: center;
    background-size:50%;
    transition:background-size  0.1s;
}
.subIcon2:hover{
    background-size:50px;
}
.subIcon3{
    display:grid;
    grid-column:3;
    grid-row:1;
    width:100%;
    height:100%;
    background-image:url(corazon.png);
    background-repeat: no-repeat;
    animation-name:subIconMotion;
    animation-duration:2s;
    background-position: center;
    background-size:50%;
    transition:background-size  0.1s;
}
.subIcon3:hover{
    background-size:50px;
}
.subIcon4{
    display:grid;
    grid-column:4;
    grid-row:1;
    width:100%;
    height:100%;
    background-image:url(diamante.png);
    background-repeat: no-repeat;
    animation-name:subIconMotion;
    animation-duration:2.5s;
    background-position: center;
    background-size:50%;
    transition:background-size  0.1s;
}
.subIcon4:hover{
    background-size:50px;
}
.subIcon5{
    display:grid;
    grid-column:5;
    grid-row:1;
    width:100%;
    height:100%;
    background-image:url(carpeta.png);
    background-repeat: no-repeat;
    animation-name:subIconMotion;
    animation-duration:3s;
    background-position: center;
    background-size:50%;
    transition:background-size  0.1s;
}
.subIcon5:hover{
    background-size:50px;
}
/*-------------------------------*/
@keyframes motionBar {
    0%{opacity:0%;}
    100%{opacity:100%;}
    
}
.motionBar{
    display:grid;
    grid-column-start:2;    grid-column-end:3;
    grid-row: 4;
    height:100%;
    width:100%;
    border: none solid white;
    background-color:rgba(255, 255, 255, 0.274);
    grid-template-columns:auto auto auto auto;
    grid-template-rows:1;
    animation:motionBar 1s ;
}
@keyframes motion{
    0%{background-position:620px;}
    100%{background-position:-620px;}
    
}
.motion{
    grid-column-start:1;
    grid-column-end:5;
    grid-row:1;
    width:100%;
    height:100%;
    background-image:url(motion.png);

    animation-name:motion;
    animation-duration:4s;
    animation-timing-function: cubic-bezier(0, 0, 0, 0);
    background-repeat:no-repeat;
    background-position:-620px;
    background-size:50px;
}
.firma{
    display:grid;
    grid-column:2;
    grid-row:5;
    animation:motionBar 5s ;
    background-color:rgba(255, 255, 255, 0.082);
    background-image:url(firma2.png);
    background-position:center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    border: 0px solid transparent;
    border-radius: 0px 0px 10px 10px;
    animation-name:subIconMotion;
    animation-duration:3s;
}
.sectorA{
    display:grid;
    grid-column-start:1;
    grid-column-end:4;
    grid-row:5;
    background-color:black;
    width:100%;
    height:100%;
    

}
/*-------------------------------*/
/*
.iconCabecera1{
    border: none solid none;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
    display:grid;
    grid-column:1;
    grid-row:1;
    background-color:#4e4e4e;

}
.iconCabecera2{
    overflow: hidden;
    display:grid;
    grid-column:2;
    grid-row:1;
    background-color:#4e4e4e;
}
.iconCabecera3{
    overflow: hidden;
    display:grid;
    grid-column:3;
    grid-row:1;
    background-color:#4e4e4e;
}
.iconCabecera4{
    overflow: hidden;
    display:grid;
    grid-column:4;
    grid-row:1;
    background-color:#4e4e4e;
}
.iconCabecera5{
    border: none solid none;
    border-radius: 0px 15px 15px 0px;
    overflow: hidden;
    display:grid;
    grid-column:5;
    grid-row:1;
    background-color:#4e4e4e;
}*/

